* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}

/* PRODUCT INFORMATION */
.price {
  font-size: 24px;
  margin-bottom: 0px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 20px;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* PRODUCT DETAILS */
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.details-list {
  list-style: square;
  margin-bottom: 10px;
  padding-left: 20px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  height: 50px;
  border-top: 5px solid black;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

p {
  margin-bottom: 15px;
}

.colors {
  margin-top: 10px;
}
.color-one {
  height: 20px;
  width: 20px;
  background-color: #000;
  display: inline-block;
  margin-right: 10px;
}

.color-two {
  height: 20px;
  width: 20px;
  background-color: blue;
  display: inline-block;
  margin-right: 10px;
}

.color-three {
  height: 20px;
  width: 20px;
  background-color: red;
  display: inline-block;
  margin-right: 10px;
}

.color-four {
  height: 20px;
  width: 20px;
  background-color: yellow;
  display: inline-block;
  margin-right: 10px;
}

.color-five {
  height: 20px;
  width: 20px;
  background-color: green;
  display: inline-block;
  margin-right: 10px;
}

.color-six {
  height: 20px;
  width: 20px;
  background-color: brown;
  display: inline-block;
  margin-right: 10px;
}

.product-title::after {
  content: "SALE";
  letter-spacing: 2px;
  background-color: red;
  color: white;
  font-size: 15px;
  padding: 5px 15px;
  position: absolute;
  top: -15px;
  left: -35px;
}
/*challenge*/
.price {
  margin-bottom: 10px;
}
.more-info {
  display: inline-block;
  margin-bottom: 20px;
}
.image {
  float: left;
  width: 30%;
  height: auto;
}

.info-container {
  float: left;
  width: 300px;
  margin-left: 30px;
}
.ship-container {
  float: left;
  width: 100px;
  margin-left: -150px;
  margin-top: 10px;
}
.detail-container {
  float: left;
  width: 200px;
  margin-left: 30px;
  margin-top: -20px;
}
